.Rproj.user
.Rhistory
.RData
.Rapp.history

config.yml

*_cache/

csv/sprague_loads_*.csv
csv/loads_*.csv
csv/wq_kt_sprague.csv

*.jpg
*.png
*.rdata
*.Rdata
*.pdf
*.html
*.zip

data/raw/prism/rasters
